---
layout: home
title: "Allwin Williams - Interaction Designer"
---
<header class="header-home">
  <nav class="navbar home-nav">
    <div class="container">
      <div class="row w-100">
        <div class="d-md-flex align-items-center col-12 col-md-6 col-lg-4 text-center text-md-start">
          <a class="navbar-brand" href="/">
            <img class="d-inline h-100" src="{{ '/assets/icon.png' | relative_url }}" />
              <h5 class="d-inline color-black">Allwin Williams</h5>
          </a>
        </div>
        <div class="col-12 col-md-6 col-lg-8 mt-5 mt-md-0 py-2">
          <div class="navbar-links d-flex justify-content-center justify-content-md-end">
            {% assign links = site.data.navigation %}
              {% for link in links %}
                {% assign active = nil %}
                {% if page.url == link.url or page.url contains link.url and link.url != "/"%}
                  {% assign active = 'active' %}
                {% endif %}
                <a class="navbar-link {{ active }} mx-2 mx-md-3 px-2 px-md-4" href="{{ link.url | relative_url }}">
                  {{ link.title }}
                </a>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div id="landing-header" class="d-flex align-items-center">
    <div class="container mb-2">
      <div class="col col-md-6 px-4 px-md-0">
        <h4>
          Hello there,
        </h4>
        <h1>
          I'm Allwin Williams
        </h1>
        <div>
          I am an interaction designer who explores creative ways to communicate visions through functional features that deliver value and fulfill contextual goals by leveraging a human-centered approach.
          <br />
          <br />
          My interests lies at the intersection of experiences and interactions in digital and tangible interfaces.
          I also like to explore the internet<h5 class="d-inline">💻</h5>, electronics<h5 class="d-inline">🕹</h5>, music<h5 class="d-inline">🎹</h5>, and the restuarant menu<h5 class="d-inline">🥙</h5>.
        </div>
      </div>
    </div>
  </div>
</header>


<svg id="home-header-bottom" width="500" height="80" viewBox="0 0 500 80" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M500 80V0C500 0 438.24 60.9836 250 60.9836C61.7601 60.9836 0 0 0 0V80H500Z" fill="#FFFFFF"/>
</svg>


<section id="about-me" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 px-4 px-md-0 col-md-4">
        <div class="image-container px-0 px-md-0 px-lg-5">
          <img class="w-100 br-24 shadow-large" src="{{ "/assets/images/allwin-photo.png" | relative_url }}" />
        </div>
      </div>
      <div class="col-12 col-md-8 p-2">
        <div class="br-24 noshadow-large h-100 pt-0 px-2 px-md-5 d-flex align-items-center">
          <div class="px-4">
            <h2 class="mb-4">A brief history of me</h2>
            <p>
              I started my journey from a small agricultural town called Lalgudi in the district of Tiruchirappalli, Tamil Nadu.
              My father does agricultural and co-owns a small bakery along with his friends while my mom takes care of our home. I have an elder brother who is currently a product developer who introduced me to computers for which I am really grateful.
              I have always been fasinated about how technology impacts people's life from my school days.
              I decided to study a technical course in college and so I did my undergrad in Information Technology from Coimbatore Institute of Technology, Coimbatore, Tamil Nadu. After which, I started pursuing graduate degree in Interaction Design from National Institute of Design, Bengaluru, Karnataka.
              <br /><br />
              I like watching crime thrillers while having a plate of biryani along with some coke, especially when it's raining outside.
              I also like listening to AR Rahman, and playing the piano.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="recent-projects" class="bg-white">
  <h1 class="text-center my-5">Recent projects</h1>
  <div class="container">
    <div class="row">
      {% assign projects = site.projects | sort:"order" %}
      {% for project in projects limit: 3 %}
        {% assign project_tags = "" %}
        {% for tag in project.tags %}
          {% assign current_tag_slug = tag | slugify %}
          {% assign project_tags = project_tags | append: current_tag_slug | append: " "%}
        {% endfor %}
          <div class="col-12 col-md-6 col-lg-4 project {{ project_tags }}">
            <a href="{{ project.url  | relative_url}}">
              <div class="project-container br-24 shadow-large h-100">
                <img class="w-100 br-24" src="/assets/{{project.url}}/assets/images/card.png" />
                <div class="project-tags">
                  {% for tag in project.tags %}
                    <!-- <a class="project-tag shadow-small" href="#{{ tag | slugify }}">{{tag}}</a> -->
                    <p class="d-inline project-tag shadow-small">{{tag}}</p>
                  {% endfor %}
                </div>
                <div class="project-title" >
                  <h5>{{project.title}}</h5>
                  <p>{{project.description}}</p>
                </div>
            </div>
            </a>
          </div>
        {% endfor %}
    </div>
  </div>
  <div class="text-center">
    <h5>
      <a href="{{ "/projects" |  relative_url }}" class="btn all-projects-button">
        See all projects
      </a>
    </h5>
  </div>
</section>
