body{
	margin: 0 auto;
	padding: 0;
	font-family: Aldrich;
	background-color: #fff;
}
.container{
	margin-top: 50px;
	width: 960px;
}
.aside{
	width: 300px;
	float: left;
	
}
.title{
	padding: 10px;
	width: 200px;

	border-top-right-radius:75px;
	border-bottom-right-radius:75px;
	-webkit-border-top-right-radius:75px;
	-webkit-border-bottom-right-radius:75px;
	-moz-border-radius-topright: 75px;
	-moz-border-radius-bottomright: 75px;

	background-color: #3498db;
	font-family: Aldrich;
	
	color: #fff;
}
h1{
	font-size: 25px;
	font-weight: 100;
}

.menu-bar{
	
	
}
a{
	letter-spacing: 1px;
	font-family: Aldrich;
	text-decoration: none;
	color: #4EA1D7;
}
a:hover{
	color:#95a5a6;
}
a:active{
	color:#7f8c8d;
}

ul{
	margin: 0;
	padding: 0;
	margin-top: 10px;
	list-style: none;
}

li{
	margin: 0;
	padding: 0;
	margin-left: 20px;
	float: left;

}
img{
	
	width: 290px;
	border-left:10px solid #3498db; 

	border-top-right-radius:200px;
	border-bottom-right-radius:200px;
	-webkit-border-top-right-radius:200px;
	-webkit-border-bottom-right-radius:200px;
	-moz-border-radius-topright: 200px;
	-moz-border-radius-bottomright: 200px;
}
.links{
	font-family: Aldrich;
	color: #7f8c8d;
	margin-left: 20px;
	margin-top: 40px;
	line-height: 15px;
	
}

.content-title{
	font-size: 35px;
	color: #2980b9;
	}
.main{
	margin-top: 40px;
	width: 610px;
	float: left;
	margin-left:50px; 
}

.content{
	font-size: 30px;
	font-family: Arial;
	color: #2c3e50;
}
.clear{clear: both;}