/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 150%;
  width: 100%;
  overflow-x: hidden !important;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background-color: #fafafa;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#header {
  padding: 0px 0px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
*{
	font-family: 'Open Sans', sans-serif;
}
section{
	min-height: 300px;
}
div{
	margin:10px 0;
}
b{
	font-weight: 600;
}

#myself{
	
}

#myself .container{
	padding-bottom: 50px;
	border-bottom: 1px solid #bdbdbd;
}
#moments{
	padding: 40px 0;
}
.header-content{
	margin-top: 40px;
}
.header-text{
	margin-top: 50px;
}
.color-white{
	color:#fafafa;
}
.color-black{
	color:#424242;
}
.color-blue{
	color:#2196f3;
}
.bg-white{
	background-color: #fafafa;
}
.bg-grey{
	background-color: #f5f5f5;
}
.bg-blue{
	background-color: #2196f3;
}
.bg-none{
	background: none;
}
.nav-item .nav-link{
	color: #fafafa;
}
#myself h1, #stay-connected h1, #interests h1,#moments h1{
	padding: 1em 0;
}
.nav-item{
	margin:0 20px;
	width: 60px;
	text-align: center;
	border-radius:2em;
}
.nav-item .nav-link{
	color: #fafafa !important;
	font-weight: 300;
	font-size: 12px;
}
.navbar-nav .nav-link {
    padding-top: .25rem;
    padding-bottom: .25rem;
}
.text-center{
	text-align: center;
}
.active{
	background-color: #fafafa;
}
.active .nav-link{
	color: #2196f3 !important;
}
.m-0-a{
	margin: 0 auto;
}
.mail-id, .social-links{
	padding: 30px 0;
}
h1{
	font-weight: 600;
}
#header h1{
	font-weight: 800;
}
#stay-connected{
	border-top: 1px solid #bdbdbd;
}
a,a:hover, a:active{
	color: inherit;
	text-decoration: none !important;
}
.float-right{
	float: right;
}

@media (max-width: 767px) { 
	html,body,*{
		overflow-x: hidden !important;
	}
	#header h1{
		text-align: center;
	}
	#header-blue{
		content: "";
	    position: absolute;
	    width: 100%;
	    height: 505px;
	    z-index: -1;
	    background-color: #2196f3;	
	}
	.float-xs-right{
		float: none !important;
	}
	nav{
		text-align: center;
	}
	#interests h4{
		margin-top: 10px;
		height: 40px;
	}
	#myself .hidden-md-up{
		padding: 10px 30px;
	}
	#interests .interest-icon{
		max-width: 60% !important;
    	margin: 0 20%;
	}
	.header-content{
		margin-top: 0;
	}
	.header-text{
		margin-top: 0px;
	}
	#myself .container {
    	padding-bottom: 10px;
	}
	#myself h1, #stay-connected h1, #interests h1, #moments h1 {
    padding: 0.2em 0;
	}
	div{
		margin-top: 0;
	}
	h1{
		margin-top: 10px;
	}
}

@media (min-width: 768px) { 
	#header-blue{
	content: "";
    position: absolute;
    width: 200%;
    height: 620px;
    top: -200px;
    left: -50%;
    z-index: -1;
    background-color: #2196f3;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
	}
	#header img{
		margin-top: 25px;
	}


}
@media (max-width: 543px) { 
	#header img{
		width: 300px;
		display: block;
		margin: 0 auto;
	}
 }
@media (min-width: 544px) and (max-width: 767px) { 
	#header img{
		width: 300px;
	}
 }
@media (min-width: 768px) and (max-width: 991px) { 
	#header img{
		width: 300px;
	}
	#header-blue{
		height: 650px;
	}
 }
@media (min-width: 992px) and (max-width: 1199px) { 
	#header img{
		width: 300px;
	}

 }
@media (min-width: 1200px) { 
	#header img{
		width: 300px;
	}
	#myself img{
		width: 400px;
	}
}
@media(max-width: 575px){
	#header img{

	}
}
