.layout-transparent {
  background: url('./img/header.jpg') center top / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button,
.mdl-layout__header,
.mdl-layout__header-row .mdl-navigation__link
 {
  color: #fff;
}
.layout-transparent-container{
	height: 300px;
}
.nav-header-content{
	text-align: center;
}
#about>.mdl-grid{
	max-width: 1000px;
	padding-bottom: 40px;
}
.social-link>a{
	width: 200px;
}
#connect{
	padding: 100px 0px;
}
.home-content{
	line-height: 50px;
}
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
  }
.demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
  }
.aw-section-2-title{
	padding: 20px;
}
.friends-img{
	background: url("./img/friends.png") center top / cover;
	height: 200px;
}
.family-img{
	background: url("./img/family.png") center / cover;
	height: 200px;
}
