<section id="contact" class="bg-white">
  <div class="socials text-center">
    <h2>Connect with me</h2>
    <ul class="list-group mt-4 list-group-horizontal justify-content-center">
      <li class="list-group-item border-0">
        <a href="https://www.behance.net/allwinwilliams" target="_blank">
          <img class="" src="{{ "/assets/images/social-icons/behance.svg" | relative_url }}" />
        </a>
      </li>
      <li class="list-group-item border-0">
        <a href="https://allwinwilliams.medium.com/" target="_blank">
          <img class="" src="{{ "/assets/images/social-icons/medium.svg" | relative_url }}" />
        </a>
      </li>
      <li class="list-group-item border-0">
        <a href="https://soundcloud.com/allwinwilliams/popular-tracks" target="_blank">
          <img class="" src="{{ "/assets/images/social-icons/soundcloud.svg" | relative_url }}" />
        </a>
      </li>
      <li class="list-group-item border-0">
        <a href="https://github.com/allwinwilliams" target="_blank">
          <img class="" src="{{ "/assets/images/social-icons/github.svg" | relative_url }}" />
        </a>
      </li>
      <li class="list-group-item border-0">
        <a href="https://www.linkedin.com/in/allwinwilliams/" target="_blank">
          <img class="" src="{{ "/assets/images/social-icons/linkedin.svg" | relative_url }}" />
        </a>
      </li>
    </ul>
    <p class="mt-3"><strong>Or write to me at</strong></p>
    <div class="text-center">
      <h5>
        <a class="btn email-link" href="mailto:iam@allwinwilliams.com">
          ✉️ iam@allwinwilliams.com
        </a>
      </h5>
    </div>
  </div>
</section>
<footer>
  <div class="w-100 text-center">
    <p><strong>Made with ❤ by Allwin</p></strong>
    <p>Copyright © 2021 Allwin Williams.</p>
  </div>
</footer>
