<nav class="navbar global-nav">
  <div class="container">
    <div class="row w-100">
      <div class="d-md-flex align-items-center col-12 col-md-6 col-lg-4 text-center text-md-start">
        <a class="navbar-brand" href="/">
          <img class="d-inline h-100" src="{{ '/assets/icon.png' | relative_url }}" />
            <h5 class="d-inline color-black">Allwin Williams</h5>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-8 mt-5 mt-md-0 py-2">
        <div class="navbar-links d-flex justify-content-center justify-content-md-end">
          {% assign links = site.data.navigation %}
            {% for link in links %}
              {% assign active = nil %}
              {% if page.url == link.url or page.url contains link.url and link.url != "/"%}
                {% assign active = 'active' %}
              {% endif %}
              <a class="navbar-link {{ active }} mx-3 px-3 px-md-4" href="{{ link.url | relative_url }}">
                {{ link.title }}
              </a>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</nav>
