.primary-font{
  font-family: 'Montserrat', sans-serif;
}

.secondary-font{
  font-family: 'Raleway', sans-serif;
}

b{
  font-weight: 600;
}

.font-weight-300{
  font-weight: 300;
}

.font-weight-400{
  font-weight: 400;
}

.font-weight-500{
  font-weight: 500;
}

.font-weight-600{
  font-weight: 600;
}

.green{
  color: $green;
}

.grey{
  color: $dark-grey;
}

.light-grey{
  color: $light-grey;
}

.blue-grey{
  color: $blue-grey;
}

.white{
  color: $white !important;
}

.black{
  color: $black;
}

.bg-green{
  background-color: $green;
}

.bg-light-green{
  background-color: $light-green;
}

.bg-light-grey{
  background-color: $light-grey;
}

.bg-dark-grey{
  background-color: $dark-grey;
}

.bg-blue-grey-light{
  background-color: $blue-grey-light;
}

.bg-blue-grey-dull{
  background-color: $blue-grey-dull;
}

.bg-black{
  background-color: $black;
}

.cursor-pointer{
  cursor: pointer;
}
