$primaryColor: #a567e1;
$lighterPrimaryColor: #e5c0f9;
$darkerPrimaryColor: #3e215e;
$secondaryColor: #c9c9e9;
$black: #000000;
$dark-grey: #333333;
$black25: rgba(0,0,0,0.25);
$shadowColor: rgba(74,74,105,0.25);
$white: #FFFFFF;
