$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Karla',"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;700&family=Rubik:wght@300;500;700;900&display=swap');

body {
  background: $backgroundColor;
  font-family: $bodyFont;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  color: $darkerPrimaryColor;
}

p{
  font-family: $bodyFont;
  color: $dark-grey;
  line-height: 1.6;
}

.br-16{
  border-radius: 16px;
}

.br-24{
  border-radius: 24px;
}

.bg-black{
  background: $black;
  color: $white;
}

.bg-white{
  background: $white;
}

.color-black{
  color: $black;
}

.color-white{
  color: $white;
}

.shadow-small{
  box-shadow: 0px 2px 8px 0px $shadowColor;
}

.shadow-large{
  box-shadow: 0px 0px 24px 0px $shadowColor;
}

nav.global-nav{
  margin-top: 3em;
}

nav.home-nav{
  padding-top: 3.5em;
  background-color: #dcd1ed;
}

nav li{
  margin-left: 1em;
  margin-right: 1em;
}

nav a.navbar-link{
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 16px;
  text-decoration: none;
  color: $black;
  transition: background-color 0.8s, color 0.6s;
}

nav a.navbar-link:hover{
  // color: $black;
  // background-color: #f7f7f7;
  background-color: $lighterPrimaryColor;
  color: $primaryColor;
  // box-shadow: 0px 2px 8px 0px $shadowColor;
  // border: 1px solid $primaryColor;
}

nav a.active{
  // background-color: $primaryColor;
  // color: $white;
  background-color: $primaryColor;
  color: $white;
  box-shadow: 0px 0px 16px 0px $shadowColor;
}

nav a.navbar-brand{
  color: $black;
  font-family: 'Rubik', sans-serif;
}

a .project-container{
  background-color: $white;
  padding: 1em;
  transition: box-shadow 0.4s;
  box-shadow: 0px 1px 4px 0px $shadowColor;
  img{
    box-shadow: 0px 1px 2px 0px $shadowColor;
    transition: box-shadow 0.3s;
  }
  .project-tag{
    box-shadow: 0px 0px 2px 0px $shadowColor;
    transition: box-shadow 0.3s;
  }


}

a:hover .project-container{
  box-shadow: 0px 0px 24px 0px $shadowColor;
  img{
    box-shadow: 0px 0px 16px 0px $shadowColor;
  }
  .project-tag{
    box-shadow: 0px 0px 16px 0px $shadowColor;
  }
}

.project{
  padding: 0.75em;
  display: block;
}

.project-tags{
  margin-left: 8px;
  position: relative;
  bottom: 12px;
}

.project-tag{
  background-color: $black;
  color: $white;
  padding: 8px 16px;
  margin-right: 4px;
  border-radius: 24px;
  text-decoration: none;
}

.project-tag:hover{
}

.project a{
  color: $black;
  text-decoration: none;
}

.project-title{
  margin-top: 0.5em;
  margin-left: 16px;
}

.filter-tag-list{
  margin-bottom: 4em;
}

.filter-tag-list a{
  background-color: $white;
  color: $black;
  padding: 12px 24px;
  margin-right: 16px;
  margin-top: 1rem;
  border-radius: 24px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0px 0px 24px 0px $shadowColor;
  transition: box-shadow 0.6s, background-color 0.8s, color 0.6s;
}

.filter-tag-list a:hover{
  // background-color: $black;
  // color: $white;
  box-shadow: 0px 1px 4px 0px $shadowColor;
}

.filter-tag-list a.active{
  background-color: $primaryColor;
  color: $white;
}

a.all-projects-button{
  background-color: $black;
  color: $white;
  border-radius: 16px;
  padding: 1rem 2rem;
  margin: 2rem 0;
  box-shadow: 0px 0px 24px 0px $shadowColor;
  transition: box-shadow 0.4s;
}

a.all-projects-button:hover{
  color: $white;
  box-shadow: 0px 2px 2px 0px $shadowColor;
}

a.email-link{
  background-color: $black;
  color: $white;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 1em 0;
  border-radius: 16px;
  box-shadow: 0px 0px 24px 0px $shadowColor;
  transition: box-shadow 0.4s;
}

a.email-link:hover{
  color: $white;
  box-shadow: 0px 2px 2px 0px $shadowColor;
}

a.resume-download-link{
  background-color: $black;
  color: $white;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 16px;
  box-shadow: 0px 0px 24px 0px $shadowColor;
  transition: box-shadow 0.4s;
}

a.resume-download-link:hover{
  color: $white;
  box-shadow: 0px 2px 2px 0px $shadowColor;
}

.header-home{
  // background-color: #f4f7f3;
}

div#landing-header{
  height:650px;
  background: url('/assets/images/header-bg.png') center center;
  background-size: cover;
}

#about-me{
  padding-top: 8rem;
  padding-bottom: 6rem;
}
#recent-projects{
  padding: 10rem 0;
}
#contact{
  padding: 10rem 0;
}

.resume-display img{
  box-shadow: 0px 0px 24px 0px $shadowColor;
}

.contact-page-content {
  margin-top: 8em;
}

.animate_projectIn {
  -webkit-animation-name: projectIn;
  animation-name: projectIn;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
.animate_projectOut {
  -webkit-animation-name: projectOut;
  animation-name: projectOut;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes projectIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 5rem, 0);
    transform: translate3d(0, 5rem, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes projectOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 5rem, 0);
    transform: translate3d(0, 5rem, 0);
  }
}

@keyframes projectIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 5rem, 0);
    transform: translate3d(0, 5rem, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes projectOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 5rem% 0);
    transform: translate3d(0, 5rem, 0);
  }
}

svg#home-header-bottom{
  width: 100%;
  position: absolute;
  margin-top: -9vh;
}

canvas.webgl{
  position: fixed;
  height:  90vh !important;
  z-index: -1;
}

nav .navbar-brand img{
  width: 60px;
}

@media (max-width: 767px){
  .text-content {
      margin-right: 8rem!important;
  }
  #landing-header .container{
    margin-left: 0em;
  }

}
