$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

@import "colors";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

a.back-link{
  padding: 1rem 0;
  border-radius: 16px;
  color: $black;
  text-decoration: none;
}

a.back-link img{
  box-shadow: 0px 0px 16px 0px $black25;
  padding: .5em;
  border-radius: .5em;
  transition: box-shadow 0.4s;
}

a.back-link:hover{
  img{
    box-shadow: 0px 1px 6px 0px $black25;
  }
}

.project-summary{
  background-color: $white;
  box-shadow: 0px 0px 16px 0px $black25;
  border-radius: 24px;
  padding: 0;
}

a.project-tag:hover{
  color: $white;
  box-shadow: 0px 1px 4px 0px $black25;
}

.project-details{
  padding: 1em 4em;
  .project-detail{
    margin-top: .5em;
  }
}
.project-thumbnail{
  object-fit: cover;
  box-shadow: 0px 0px 16px 0px $black25;
}

.content p{
  font-size: 1.1rem;
  margin: 4em 0;
  line-height: 1.75;
}

.btn-primary{
  background-color: $primaryColor;
  color: $white;
  transition: background-color 0.5s;
  border: 0;
}

.btn-primary:hover{
  background-color: $darkerPrimaryColor;
  color: $white;
}

.btn-secondary{
  background-color: $black;
  color: $white;
}

.btn-secondary:hover{
  background-color: $black;
  color: $white;
}
