---
---
@import "colors";
@import "styles";

body{
  @extend .primry-font;
}

.section-title{
  // @extend h2;
  //
  h2{
    @extend .font-weight-400;
  }
}

.section-content{
  @extend .secondary-font;
}

#projects a:hover{
  text-decoration: none;
}

#banner, #myself, #brief{
  padding-top: 12em !important;
  padding-bottom: 12em !important;
}

#banner{
  h1{
    // text-shadow: 0.5px 0.5px 0.5px #555;
    font-size: 3em;
  }
}

#banner{
  background: rgb(85,191,89);
  background: linear-gradient(135deg, rgba(85,191,89,1) 0%, rgba(41,136,45,1) 100%);
}

#tools{
  .tool:not(:last-child)::after{
    content: url('/assets/images/dot.svg');
    margin-left: 1em;
    margin-right: 1em;
  }
}

#myself{
  box-shadow: 2px 2px 5px 0px #555;
}

#projects{
  .project{

  }

  .project a div{
    // opacity: 0.75;
    background-color: $blue-grey-light;
    transition: 0.3s;
    min-height: 60px;
  }

  .project a:hover{
    div{
      // opacity: 1;
      background-color: #49565D;
      // min-height: 200px;
      .project-description{
        color: $dark-grey;
      }
    }

  }
}
