<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>

    <meta name="description" content="Allwin Williams | Digital experience designer" />
		<meta name="author" content="Allwin Williams" />
	  <meta name="keywords" content="allwin, williams, samuvel, samuel, it, soimbatore, trichy, lalgudi, india, nid, bangalore, bengaluru, interaction design, ux, experience design, design portfolio, portfolio website, portfolio" />
		<meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	  <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png' | relative_url }}" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,300;1,400&family=Raleway&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mansalva&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/main.css' | relative_url }}" />

    <script src="https://kit.fontawesome.com/f281a292f4.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <header id="banner" class="bg-green">
    	<div class="container pt-5">
    		<nav class="navbar navbar-expand-lg navbar-light bg-transparent p-0">
    			<a class="navbar-brand" href="#">
    				<img src="/assets/images/logo-white.svg" width="30" height="30" alt="">
    			</a>
    			<ul class="navbar-nav list-inline ml-auto d-block">
    				<li class="nav-item mx-3 list-inline-item">
    					<a class="cursor-pointer nav-link white font-weight-300" onclick="scrollToProjects();">Projects</a>
    				</li>
    				<li class="nav-item ml-3 list-inline-item">
    					<a class="cursor-pointer nav-link white font-weight-300" onclick="scrollToContact();">Contact</a>
    				</li>
    			</ul>

    		</nav>
    	</div>

    	<div class="container content">

    		<div class="row white">
    			<div class="align-middle col-8 py-3 my-auto">
    				<div class="">
    					<h5 class="font-weight-light">Hi there,</h5>
    				</div>
    				<h1 class="font-weight-300" style="font-family: 'Amatic SC', cursive;">
    					I'm <strong >Allwin Williams</strong>.
    				</h1>
    				<div class="">
    					<h5 class="font-weight-light">I design, code and live.</h5>
    				</div>
    			</div>
    			<div class="align-bottom col-4 banner-img">
    				<div class="w-100">
    					<!-- Generator: Adobe Illustrator 24.2.1, SVG Export Plug-In  -->
    					<svg class="w-75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="367.1px"
    						 height="504.6px" viewBox="0 0 367.1 504.6" style="overflow:visible;enable-background:new 0 0 367.1 504.6;"
    						 xml:space="preserve">
    					<style type="text/css">
    						.st0{stroke-width:3;opacity:0.5;fill:none;stroke:#ffffff;stroke-miterlimit:10;}
    					</style>
    					<defs>
    					</defs>
    					<path id="banner-rocket" class="st0" d="M299.6,488.7l-118,0.3l-118-0.3c-5.7,0-7.9-7.4-3.2-10.5c8.4-5.7,15.7-11.1,21.9-15.9
    						c13.8-10.7,24.9-24.4,32.7-40c20.4-41,38-64.4,66.6-64.4l0,0c31,0.8,46.2,23.4,66.6,64.4c7.8,15.6,18.9,29.4,32.7,40
    						c6.2,4.8,13.5,10.2,21.9,15.9C307.5,481.3,305.3,488.7,299.6,488.7z M365.3,305.1C355.2,115.9,256.3,35.4,207.4,6.9
    						c-7.4-4.3-15.6-6.4-23.8-6.4c-8.2,0-16.5,2.1-23.8,6.4C110.9,35.4,11.9,115.9,1.8,305.1c-2.2,40.2-1.5,73.1,1.2,100
    						c5.2,53,76.5,47.6,93.3,6.8c7.4-17.9,8.1-21.3,21.2-40.9c1.4-2.1,33.1-48.3,66.1-45.8c32.4,2.4,61.5,23.8,87.3,86.7
    						c16.8,40.8,88.1,46.2,93.3-6.8C366.8,378.2,367.5,345.3,365.3,305.1z M183.6,233.9c-28.1,0-50.9-22.8-50.9-50.9s22.8-50.9,50.9-50.9
    						c28.1,0,50.9,22.8,50.9,50.9S211.7,233.9,183.6,233.9z M31,483.6c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1c2.8,0,5.1-2.3,5.1-5.1
    						S33.8,483.6,31,483.6z M61.6,493.8c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1c2.8,0,5.1-2.3,5.1-5.1S64.4,493.8,61.6,493.8z
    						 M64.2,445.5c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1c2.8,0,5.1-2.3,5.1-5.1S67,445.5,64.2,445.5z M262.8,463.6
    						c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1S265.7,463.6,262.8,463.6z M333.7,488.7c-2.8,0-5.1,2.3-5.1,5.1
    						s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1S336.5,488.7,333.7,488.7z M314.9,460.5c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1
    						S317.7,460.5,314.9,460.5z M357.4,458.4c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1S360.2,458.4,357.4,458.4z
    						 M150,400.1c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1S152.8,400.1,150,400.1z M114.3,440.3c-2.8,0-5.1,2.3-5.1,5.1
    						s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1S117.1,440.3,114.3,440.3z M211.5,376.5c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1
    						S214.3,376.5,211.5,376.5z M13.4,459.1c0,2.8-2.3,5.1-5.1,5.1s-5.1-2.3-5.1-5.1s2.3-5.1,5.1-5.1S13.4,456.3,13.4,459.1z"/>
    					</svg>

    				</div>
    			</div>
    		</div>
    	</div>
    </header>

    <script>
    // Get the id of the <path> element and the length of <path>
    	var rocket = document.getElementById("banner-rocket");
    	var length = rocket.getTotalLength();

    	rocket.style.strokeDasharray = length;
    	rocket.style.strokeDashoffset = 0;

    	window.addEventListener("scroll", bannerScroll);

    	console.log("rocket.style.strokeDashoffset");
    	console.log(rocket.style.strokeDashoffset);

    	function bannerScroll() {
    		var scrollpercent = (document.documentElement.scrollTop)/500;

    	  var draw = length * scrollpercent;

    		console.log("draw");
    		console.log(draw);

    	  rocket.style.strokeDashoffset = length - draw;
    	}
    </script>

    <main>
    	<section id="myself" class="bg-light-green py-5">
    		<div class="container text-center">
    			<div class="section-title green">
    				<h2>Myself</h2>
    			</div>
    			<div class="section-content railway blue-grey py-5">
    				<div>
    					Full-time <b>Student</b>,
    					Class-time <b>Dreamer</b>,
    					Free-time <b>Reader</b>,
    					Part-time <b>Coder</b>,
    					Any-time <b>Designer</b>,
    					All-time <b>Learner</b>.
    				</div>
    				<div class="mt-4">
    					Inquisitive <b>Worker</b>,
    					Creative <b>Thinker</b>,
    					Problem <b>Solver</b>.
    				</div>
    			</div>
    		</div>
    	</section>

    	<section id="brief" class="bg-white">
    		<div class="container text-right">
    			<div class="section-title green">
    				<h2>A brief history of me</h2>
    			</div>
    			<div class="row">
    				<div class="col-md-8 offset-md-4 col-12 section-content railway blue-grey py-5">
    					<div>
    						I’m from Tiruchirappalli, Tamil Nadu and got my Bachelor of Technology degree in Information Technology from Coimbatore Institute of Technology, Coimbatore,  Tamil Nadu. Currently I’m pursing my master’s degree in Interaction Design from
    						National Institute of Design, Bengaluru, Karnataka.
    					</div>
    					<div class="mt-4">
    						I love to watch crime thrillers and like to play piano in my free time.
    					</div>
    				</div>
    			<div>
    	</section>


    	<section id="projects" class="nbg-dark-grey py-5">
    		<div class="container text-center w-sm-50 py-5">
    			<div class="section-title blue-grey mb-5">
    				<h2>Projects<h2>
    			</div>
    			<div class="row mx-auto projects-container">
    				{% for item in site.data.projects %}
    						<div class="col-12 col-md-6 my-3 project">
    							<a href="{{item.link}}">
    								<div class="p-5 bg-blue-grey-light">
    									<div class="white project-title">
    										<h5>{{item.title}}</h5>
    									</div>
    									<div class="blue-grey project-description">
    										<em>{{item.description}}</em>
    									</div>
    								</div>
    							</a>
    						</div>
    				{% endfor %}
    			</div>
    		</div>
    	</section>

    	<section class="bg-white py-5">
    		<div class="container text-center w-sm-50 my-5">
    			<div class="section-title green">
    				<h2>Skills<h2>
    			</div>
    			<div class="row mx-auto blue-grey">
    				{% for skill in site.data.skills %}
    					<div class="col-6 mt-5">
    						{{skill.name}}
    					</div>
    				{% endfor %}

    			</div>
    		</div>
    	</section>

    	<section id="tools" class="bg-white py-5">
    		<div class="container text-center w-sm-50 my-5">
    			<div class="section-title green">
    				<h2>Tools & Technology<h2>
    			</div>
    			<div class="w-50 mx-auto">
    				{% for type in site.data.tools %}
    					<div class="section-subtitle blue-grey font-weight-500 mt-5">
    						{{ type.name | upcase}}
    					</div>
    					<div class="mx-auto blue-grey py-5 railway inline">
    						{% for item in type.items %}
    							<div class="d-inline tool text-nowrap">{{item.name}}</div>
    						{% endfor %}
    					</div>
    				{% endfor %}
    			</div>
    		</div>
    	</section>


    <footer id="contact" class="bg-dark-grey py-5">
    	<span class="px-5 float-right mx-auto text-center">
    		<a class="cursor-pointer blue-grey" onclick="scrollToBanner();">
    				<h2 class="">
    					<i class="fa fa-chevron-circle-up blue-grey"></i>
    				</h2>
    				<p class="blue-grey font-weight-300">Go to top</p>
    		</a>
    	</span>
    	<div class="container text-center">
    		<div class="section-title green mt-5">
    			<h2>Contact me</h2>
    		</div>
    		<div class="section-content py-5">
    			<div class="mb-4">
    				<h3><i class="fa fa-mobile-alt"></i></h3>
    				<div>
    					<a href="tel:+918754968346" class="railway white ">+91 87549 68346</a>
    				</div>
    			</div>
    			<div class="mb-4">
    				<h3><i class="fa fa-envelope"></i></h3>
    				<div>
    					<a href="mailto:iam@allwinwilliams.com" class="railway white">iam@allwinwilliams.com</a>
    				</div>
    			</div>
    	</div>

    </footer>
    <div class="w-100 text-center bg-dark-grey nobg-blue-grey-light">
    	<div class="container blue-grey py-4">
    		Made with <strong style="color:#f15261;">&#x2764;</strong> by Allwin.
    	</div>
    	<hr class="m-0" />
    	<div class="nobg-blue-grey-light py-2">
    		&copy; 2020 Allwin Williams.
    	</div>
    </div>

    <script>
    function scrollToProjects(){
    	scrollTo("#projects");
    }
    function scrollToContact(){
    	scrollTo("#contact");
    }
    function scrollToBanner(){
    	scrollTo("#banner");
    }
    function scrollTo(section){
    	document.querySelector(section).scrollIntoView({
    		behavior: 'smooth'
    	});
    }

    </script>
  </body>
</html>
