<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="icon" href="{{ "/assets/favicon.png" | relative_url }}" type="image/png" sizes="64x64">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/project.css" | relative_url }}">
  </head>
  <body>
    {% include navbar.html %}
    <div class="container mt-4">
      <a class="back-link" href="/projects">
        <img class="" src="{{ "/assets/images/icons/back.png" | relative_url }}" />
        <p class="d-inline m-0 mx-2"><strong>Back to all projects</strong></p>
      </a>
      <div class="mt-5">
        {% for tag in page.tags %}
          <!-- <a class="project-tag shadow-small" href="/projects/#{{ tag | slugify }}">{{tag}}</a> -->
            <a class="project-tag shadow-small" href="#">{{tag}}</a>
        {% endfor %}
      </div>
      <h1 class="mt-4">{{page.title}}</h1>
      <p>{{page.description}}</p>

      <div class="my-4 w-100">
        <div class="project-summary">
          <div class="row px-2">
            <div class="col-12 col-md-4 p-0">
              <img class="w-100 h-100 br-24 project-thumbnail" src="/assets/{{page.url}}/assets/images/card.png" />
            </div>
            <div class="col-12 col-md-8 row project-details d-flex align-items-center">

              {% if page.team %}
                <div class="col-12 col-md-6 project-detail align-self-start">
                  <h4>Team</h4>
                  {% for member in page.team %}
                    <p>{{member}}</p>
                  {% endfor %}
                </div>
              {% endif %}

                {% if page.mentors %}
                  <div class="col-12 col-md-6 project-detail align-self-start">
                    <h4>Mentors</h4>
                    {% for mentor in page.mentors %}
                      <p>{{mentor}}</p>
                    {% endfor %}
                  </div>
                {% endif %}

                {% if page.tools %}
                  <div class="col-12 col-md-6 project-detail align-self-start">
                    <h4>Tools</h4>
                    {% for tool in page.tools %}
                      <p>{{tool}}</p>
                    {% endfor %}
                  </div>
                {% endif %}

                {% if page.duration %}
                  <div class="col-12 col-md-6 project-detail align-self-start">
                    <h4>Duration</h4>
                      <p>{{page.duration}}</p>
                  </div>
                {% endif %}

                {% if page.course %}
                  <div class="col-12 col-md-6 project-detail align-self-start">
                    <h4>Course</h4>
                      <p>{{page.course}}</p>
                  </div>
                {% endif %}

            </div>
          </div>
        </div>
      </div>

      {{ content }}
      <hr />
    </div>
    {% include footer.html %}
  </body>
</html>
