<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>

    <meta name="description" content="Allwin Williams | Digital experience designer" />
		<meta name="author" content="Allwin Williams" />
	  <meta name="keywords" content="allwin, williams, samuvel, samuel, it, soimbatore, trichy, lalgudi, india, nid, bangalore, bengaluru, interaction design, ux, experience design, design portfolio, portfolio website, portfolio" />
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="./img/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="./img/favicon-32x32.png" sizes="32x32">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,400&family=Raleway&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/project.css">
    <script src="https://kit.fontawesome.com/f281a292f4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
